
<div class="flex flex-wrap align-items-center justify-content-center h-screen">
  
    <div class="w-6">
      <div class="text-center">
        <h2>Entronica Pre-Test</h2>
      </div>
      <p-card>
        <p-tabView>
          <p-tabPanel header="Registration">

            <br><br>
            
            <app-user-form></app-user-form>
            
            <br><br>
            
            <app-contact-form></app-contact-form>
            
            <br><br>
            
            <app-education-form></app-education-form>
            
            <br><br>
            
            <app-experience-form></app-experience-form>
            
            <br><br>
            
            <app-interest-form></app-interest-form>
            
            <br><br>
            
            <app-skill-form></app-skill-form>
            
            <br><br>
            
            <app-guild-form></app-guild-form>
          </p-tabPanel>
          <!-- <p-tabPanel header="List of registered">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci
              velit, sed quia non numquam eius modi.
            </p>
          </p-tabPanel> -->
        </p-tabView>
      </p-card>
    </div>
  </div>
  
  
